@colorLightBackground      = #405330;
@colorDarkBackground       = #2C3920;
@colorHyperlink            = #647E5A;
@colorNormalText           = #ffffff;

html {
    height: 100%;
}

body {
    background-color: @colorLightBackground;
    font-size: 18px;
    color: @colorNormalText;
    padding: 0;
    margin: 0;
    height: 100%;
}

.pageTitle {
    font-size: 50px;
    text-align: center;

    img {
        width: 45px;
        height: 45px;
        margin-top: 6px;
    }

    span {
        vertical-align: top;
    }
}

.upperDescription {
    margin: 0 auto;
    max-width: 700px;
}

.screenshot {
    margin: 25px auto 0 auto;
    max-width: 700px;

    img {
        width: 100%;
        max-width: 700px;
    }
}

a {
    color: @colorHyperlink;
    text-decoration: none;
}
